<md-sidenav #sidenav [mode]="side">

    <md-nav-list>
      <a md-list-item (click)="sidenav.close()">
        <md-icon md-list-icon>view_headline</md-icon>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/']">
        <md-icon md-list-icon>Home</md-icon>
        <span md-line>Home</span>
        <span md-line class="secondary"></span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/regs']">
        <md-icon md-list-icon>list</md-icon>
        <span md-line>Registrations</span>
        <span md-line class="secondary"></span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/regs/new']">
        <md-icon md-list-icon>add</md-icon>
        <span md-line>NewUser</span>
        <span md-line class="secondary"></span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/cars']">
        <md-icon md-list-icon>directions_car</md-icon>
        <span md-line>Cars</span>
        <span md-line class="secondary"></span>
      </a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['/cdkex']">
        <md-icon md-list-icon>directions_car</md-icon>
        <span md-line>example</span>
        <span md-line class="secondary"></span>
      </a>
    </md-nav-list>
  </md-sidenav>

<md-toolbar color="primary">
  <!--<button md-mini-fab class="example-fab" (click)="sidenav.toggle()"><md-icon>add</md-icon></button>-->
  <button md-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <span routerLink="">Rent Wheels</span>
  <span class="example-spacer"></span>
  <md-icon class="example-icon" routerLink="/regs">group</md-icon>
  <md-icon class="example-icon" routerLink="/regs/new">add</md-icon>
  <md-icon class="example-icon" routerLink="/cars">directions_car</md-icon>
</md-toolbar>



