<md-card>
  <md-card-header>
    <md-card-title>Cars</md-card-title>
  </md-card-header>
  <md-card-content>

    <div class="example-container mat-elevation-z8">
      <cdk-table #table [dataSource]="dataSource" class="example-table">
        <!-- User name Definition -->
        <ng-container cdkColumnDef="id">
          <cdk-header-cell *cdkHeaderCellDef class="example-header-cell"> ID </cdk-header-cell>
          <cdk-cell *cdkCellDef="let row" class="example-cell"> {{row.id}} </cdk-cell>
        </ng-container>

        <!-- Age Definition -->
        <ng-container cdkColumnDef="title">
          <cdk-header-cell *cdkHeaderCellDef class="example-header-cell"> Title </cdk-header-cell>
          <cdk-cell *cdkCellDef="let row" class="example-cell"> {{row.title}} </cdk-cell>
        </ng-container>

        <!-- Title Definition -->
        <ng-container cdkColumnDef="body">
          <cdk-header-cell *cdkHeaderCellDef class="example-header-cell"> Body </cdk-header-cell>
          <cdk-cell *cdkCellDef="let row" class="example-cell"> {{row.body}} </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
          <cdk-header-cell *cdkHeaderCellDef class="example-header-cell"> Actions </cdk-header-cell>
          <cdk-cell *cdkCellDef="let row" class="example-cell">
            <a>
              <md-icon class="example-icon" routerLink="/cars">edit</md-icon>
            </a>
          </cdk-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <cdk-header-row *cdkHeaderRowDef="['id', 'title', 'body', 'actions']" class="example-header-row"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: ['id', 'title', 'body', 'actions'];" class="example-row"></cdk-row>
      </cdk-table>

    </div>


  </md-card-content>
</md-card>