<md-card>
    <md-card-header>
        <md-card-title>Cars</md-card-title>
    </md-card-header>
    <md-card-content>
        <table>
            <thead>
            <tr>
                <th data-field="name">ID</th>
                <th data-field="name">Title</th>
                <th data-field="name">Body</th>
                <th data-field="name">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let cars of all_cars">
                <td>{{ cars?.id }}</td>
                <td>{{ cars?.title }}</td>
                <td>{{cars?.body}}</td>
                <td>
                    <a>
                        <md-icon class="example-icon" routerLink="/cars">edit</md-icon>
                    </a>
                </td>
            </tr>
            </tbody>

            <!--<cdk-table>-->
                <!--&lt;!&ndash; User name Definition &ndash;&gt;-->
                <!--<ng-container cdkColumnDef="id">-->
                    <!--<cdk-header-cell *cdkHeaderCellDef> ID </cdk-header-cell>-->
                    <!--<cdk-cell *cdkCellDef="let cars"> {{cars?.id}} </cdk-cell>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; Age Definition &ndash;&gt;-->
                <!--<ng-container cdkColumnDef="title">-->
                    <!--<cdk-header-cell *cdkHeaderCellDef> Title </cdk-header-cell>-->
                    <!--<cdk-cell *cdkCellDef="let cars"> {{cars?.title}} </cdk-cell>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; Title Definition &ndash;&gt;-->
                <!--<ng-container cdkColumnDef="body">-->
                    <!--<cdk-header-cell *cdkHeaderCellDef> Body </cdk-header-cell>-->
                    <!--<cdk-cell *cdkCellDef="let cars"> {{cars?.body}} </cdk-cell>-->
                <!--</ng-container>-->

                <!--<ng-container cdkColumnDef="actions">-->
                    <!--<cdk-header-cell *cdkHeaderCellDef> Actions </cdk-header-cell>-->
                    <!--<cdk-cell *cdkCellDef="let cars">-->
                        <!--<a>-->
                            <!--<md-icon class="example-icon" routerLink="/cars">edit</md-icon>-->
                        <!--</a>-->
                    <!--</cdk-cell>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; Header and Row Declarations &ndash;&gt;-->
                <!--<cdk-header-row *cdkHeaderRowDef="['id', 'title', 'body', 'actions']"></cdk-header-row>-->
                <!--<cdk-row *cdkRowDef="let cars; columns: ['id', 'title', 'body', 'actions']"></cdk-row>-->
            <!--</cdk-table>-->


        </table>
    </md-card-content>
</md-card>