<md-card>
    <md-card-header>
        <md-card-title>Cars</md-card-title>
    </md-card-header>
    <md-card-content>
        <table>
            <thead>
            <tr>
                <th data-field="name">ID</th>
                <th data-field="name">Title</th>
                <th data-field="name">Body</th>
                <th data-field="name">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let cars of all_cars">
                <td>{{ cars?.id }}</td>
                <td>{{ cars?.title }}</td>
                <td>{{cars?.body}}</td>
                <td>
                    <a>
                        <md-icon class="example-icon" routerLink="/cars">edit</md-icon>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>